
.home-page, .about-page {
    background-color: #e6cfd6;
    margin: 0;
    padding: 40px 20px; 
    min-height: 100vh;
    box-sizing: border-box;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* home page styles */
.home-page h1 {
    font-size: 40px;
    color: #ff69b4;
    font-family: 'Pacifico', cursive;  
    text-align: center;
    margin: 0 0 20px 0; 
}


.highlight-text {
    font-family: 'Pacifico', cursive;  
    color: white; 
    text-shadow: 
        0 0 10px #ff69b4, 
        0 0 20px #ff69b4, 
        0 0 30px #a8005a; 
}

.home-page p {
    color: #302d2d;
    font-family: 'Arial', sans-serif;
    text-align: center;
    max-width: 600px; 
    margin: 0 0 25px 0;
    font-size: 18px;
    line-height: 1.6; 
}

.home-page a {
   
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
    color: #ff69b4;
    text-decoration: underline;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}    

.home-page img {
    display: block;
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 25px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /
}  

.home-page button {
    display: inline-block;  
    padding: 12px 28px;    
    font-size: 18px;
    background-color: #ff69b4;
    border: 2px solid white; 
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease; 
}

.home-page button:hover {
    background-color: white;
    color: #ff69b4;
    border: 2px solid #ff69b4;
}

/* about page styles */

.about-page h1 {
    font-size: 32px;
    text-decoration: underline;
    color: #ff69b4;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0 0 20px 0;
}

.about-page p {
    color: #302d2d;
    font-family: 'Arial', sans-serif;
    text-align: center;
    max-width: 650px; 
    margin: 0 0 25px 0;
    font-size: 18px;
    line-height: 1.6;
}

.about-page h2 {
    font-size: 24px;
    color: #ff69b4;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px 0 15px 0;
}


.about-page ol {
    color: #302d2d;
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 0 30px 0;
    padding-left: 20px;
    font-size: 18px;
}   

.about-page li {
    margin-bottom: 15px; 
    line-height: 1.5;
}
.about-page a {
    display: inline-block;  
    padding: 10px 20px;    
    font-size: 16px;
    background-color: #ff69b4;
    border: 2px solid white; 
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease; 
    display: left;
    align-self: flex-end;
    margin-right: 70px;
    

}

.about-page a:hover {
    background-color: white;
    color: #ff69b4;
    border: 2px solid #ff69b4;
}